body {
margin: 0;
font-family: Arial, sans-serif;
background: #f4f6fb;
color: #222;
transition: 0.3s;
}


body.dark {
background: #121212;
color: #eee;
}


h1, h2, h3 {
margin-top: 0;
}


.error {
color: red;
font-size: 12px;
}